<div class="cart_item">
  <%= image_tag(product[:item].image, class: 'cart_item_image') %>
  <%= link_to(truncate(product[:item].name, :length => 29), product_path(product[:item])) %>
  <h4><%= product[:qty] %> x <%= number_to_currency(product[:item].price) %></h4>
</div>
