<div id="search_bar">
  <h4>Search</h4>
  <% form_for @filterrific do |f| %>
    <%= f.select(
    :with_category_id,
    @filterrific.select_options[:with_category_id],
    {include_blank: 'All Categories'}
  ) %>
  <%= f.text_field(
    :search_query,
    class: 'filterrific-periodically-observed'
  ) %>
  <% end %>
</div>
