<h4>Store: </h4>
<%= form_for @filterrific do |f| %>
  <%= f.select(
    :with_lifestyle_id,
    @filterrific.select_options[:with_lifestyle_id],
    {include_blank: 'All Lifestyles'}
  ) %>

<% end %>
<%# selected_filters.each do |filter| %>
  <a href="<%#= filter.destroy %>"><%#= filter.name %></a>
<%# end %>
