<h4>Store: </h4>
<form method="post">
  <select name="lifestyle">
    <option>All Lifestyles</option>
    <% all_lifestyles.each do |lifestyle| %>
      <option value="<%= lifestyle.id %>"><%= lifestyle.name %></option>
    <% end %>
  </select>
</form>
<%# selected_filters.each do |filter| %>
  <a href="<%#= filter.destroy %>"><%#= filter.name %></a>
<%# end %>
