/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #c-carousel {
   height: 100%;
   padding: 0;
   margin: 0;
 }
 #c-carousel {
   background-color: #ffe;
   position: relative;
   min-height: 300px;
 }
 #c-carousel * {
   font-family: Arial, Geneva, SunSans-Regular, sans-serif;
   font-size: 14px;
   color: #333;
   line-height: 22px;
 }

 #wrapper {
   background-color: #fff;
   border-top: 1px solid #ccc;
   width: 100%;
   height: 350px;
   position: absolute;
   left: 0;
   bottom: 0;
 }
 #carousel {
   margin-top: -60px;
 }
 #carousel div {
   text-align: center;
   width: 125px;
   height: 140px;
   padding: 0 20px;
   float: left;
   position: relative;
 }
 #carousel div img {
   border: none;
   width: 100%;
   height: auto;
 }
 #carousel div span {
   display: none;
 }
 #carousel div:hover span,
 #carousel div.hover span {
   background-color: #333;
   color: #fff;
   display: inline-block;
   width: 100px;
   padding: 2px 0;
   margin: 0 0 0 -50px;
   position: absolute;
   bottom: 0;
   left: 50%;
   border-radius: 3px;
 }
