// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search_bar h4, form {
  display: inline-block;
}

#store_selector h4, form {
  display: inline-block;
}

header h3 {
  display: inline-block;
}

#content {
  width: 1280px;
  margin: 0 auto;
  background-color:
}
