// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Page Variables
$page_width: 100%;
$centered_margins: 0 auto;

// Content Variables
$content_padding_sides: 25px;
$content_padding_top_and_bottom: 10px;
$content_width: 1000px;
$content_top_margin: 105px;
$content_bottom_margin: 41px;

// Other Variables
$filter_box_width: 175px;
$filter_box_height: 500px;
$max_image_width: 400px;
$max_image_height: 400px;

// Product Variables
$number_of_linear_products: 4;
$products_section_width: $content_width - ($content_padding_sides * 2);
$products_display_width: $products_section_width - $filter_box_width;
$product_width: $products_display_width / $number_of_linear_products - 10;
$product_height: 400px;
$product_img-width: 150px;
$product_img-height: 150px;
$product_messages_top_margin: 50px;

body {
  background-color: #eeeeee;
}

#wrapper {
  width: $page_width;
  margin: $centered_margins;
}

header, footer {
  z-index: 3;
  width: $page_width;
  background-color: #8AC0CB;
  position: fixed;
  padding: 0 25px;
  margin-left:0;
}

footer {
  bottom: 0px;
  p {
    padding-top: 10px;
    text-align: center;
  }
}

header {
  top: 0px;

  h3 {
    padding: 0;
    display: inline-block;
  }

  span {
    position: relative;
    float: right;
    padding-top: 15px;
    left: -30px;
  }

}

nav#site_nav {
  z-index:3;
  width: $page_width;
  position: fixed;
  top: 55px;
  left: 0px;
  //background-color: rgba(62, 181, 15, 0.5);
  background-color: rgba(150,209,126,1);
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      list-style-type: none;
      display: inline-block;
      padding: 10px 25px;
    }
  }
}

form.search_form {

  #store_selector {
    clear:both;
    position: relative;
    float: right;
    margin-top: 10px;
    h4, select {
      display: inline-block;
    }
  }

}



#content {

  width: $content_width;
  margin: $centered_margins;
  margin-top: $content_top_margin;
  margin-bottom: $content_bottom_margin;
  padding: 10px 25px;
  border-radius: 15px;
  //background-color: rgba(38, 147, 168, 0.5);
  background-color: rgba(33, 112, 218, .25);

  div#cart {
    position: fixed;
    right:0;
    top: 150px;
  }

  #store_product_display {
    clear: both;
    aside#filters {
      float:left;
      width: $filter_box_width;
      height: $filter_box_height;
      ul {
        padding: 0 0 0 5px;
        li {
          list-style-type:none;
        }
      }
    }

    div#products_to_display {
      float: left;
      width: $products_display_width;

      section#all_products {

      }
      nav {
        margin-top: 10px;
        position: relative;
        right:-350px;
      }

      section#no_products_found {
        margin-top: $product_messages_top_margin;
      }
    }


  }
  .product {
    width: $product_width;
    height: $product_height;
    display: inline-block;
    vertical-align: top;
    position: relative;

    div.product_img {
      width: $product_img-width;
      height: $product_img-height;
      margin: $centered_margins;
      img {
        width: $product_img-width;
        height: $product_img-height;
      }
    }


    h4 {
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    a.btn {
      position:absolute;
      bottom: 5px;
      right: 0px;
    }

    ul {
      height: 175px;;
      overflow: hidden;
      padding-left: 15px;
      font-size: 75%;
      li {

      }
    }
  }

  div#bottom-holder {
    clear: both;
  }

  //Individual Product Page
  #product_page {
    h1 {
      line-height: 110%;
    }

    div#product_image {
      display: inline-block;
      float: left;
      width: $max_image_width;
      height: $max_image_height;
      img {
        max-width:$max_image_width;
        max-height: $max_image_height;
      }
    }
    div#product_info {
      display: inline-block;
      float:left;
      width: $content_width - $max_image_width - 2;

      h2 {
        float:right;
      }

      div#product_features {
        margin-top: 100px;
      }
    }
    div#product_description {
      clear: both;
    }
  }
}
