// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$page_width: 100%;
$content_width: 1000px;
$filter_box_width: 175px;
$filter_box_height: 500px;
$centered_margins: 0 auto;
$number_of_linear_products: 4;
$product_width: ($content_width - $filter_box_width) / $number_of_linear_products - 5;
$product_height: 400px;
$max_image_width: 400px;
$max_image_height: 400px;

body {
  background-color: #eeeeee;
}

#wrapper {
  width: $page_width;
  margin: $centered_margins;
}

header {
  width: $page_width;
  background-color: #8AC0CB;
  position: fixed;
  padding: 0 25px;
  margin-left:0;
  top: 0px;
  left: -10px;

  h3 {
    padding: 0;
    display: inline-block;
  }

  span {
    position: relative;
    float: right;
    padding-top: 15px;
    left: -30px;
  }

}

nav#site_nav {
  width: $page_width;
  position: fixed;
  top: 50px;
  left: 0px;
  background-color: rgba(62, 181, 15, 0.5);
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      list-style-type: none;
      display: inline-block;
      padding: 10px 25px;
    }
  }
}

#search_bar {
  h4, form {
    display: inline-block;
  }
}

#store_selector h4, form {
  display: inline-block;
}

#content {

  width: $content_width;
  margin: $centered_margins;
  margin-top: 125px;
  padding: 10px 25px;
  border-radius: 15px;
  //background-color: rgba(38, 147, 168, 0.5);
  background-color: rgba(33, 112, 218, .25);

  #store_product_display {

    aside#filters {
      float:left;
      width: $filter_box_width;
      height: $filter_box_height;
      ul {
        padding: 0 0 0 5px;
        li {
          list-style-type:none;
        }
      }
    }

    div#products_to_display {
      float: left;
      width: $content_width - $filter_box_width;

      section#all_products {

      }
    }


  }
  .product {
    width: $product_width;
    height: $product_height;
    display: inline-block;
    vertical-align: top;
    position: relative;

    img {
      width: 150px;
      height: 150px;
    }

    h4 {
      float: right;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    ul {
      height: 175px;;
      overflow: hidden;
      padding-left: 15px;
      font-size: 75%;
      li {

      }
    }
  }

  div#bottom-holder {
    clear: both;
  }

  //Individual Product Page
  #product_page {
    h1 {
      line-height: 110%;
    }

    div#product_image {
      display: inline-block;
      float: left;
      width: $max_image_width;
      height: $max_image_height;
      img {
        max-width:$max_image_width;
        max-height: $max_image_height;
      }
    }
    div#product_info {
      display: inline-block;
      float:left;
      width: $content_width - $max_image_width - 2;

      h2 {
        float:right;
      }

      div#product_features {
        margin-top: 100px;
      }
    }
    div#product_description {
      clear: both;
    }
  }
}
